<div class="layui-side layui-bg-black">
    <div class="layui-side-scroll">
        <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
        <ul class="layui-nav layui-nav-tree" lay-filter="test">
            <li class="layui-nav-item layui-nav-itemed">
                <a class="" href="javascript:;">网络系统管理</a>
                <dl class="layui-nav-child">
                    <% menuArr[0].forEach(function(item){%>
                    <dd><a href="<%=item.url %>" target="<%=item.target %>"><%=item.name %></a></dd>
                    <% }) %>
                </dl>
            </li>
            <li class="layui-nav-item">
                <a href="javascript:;">栏目内容管理</a>
                <dl class="layui-nav-child">
                    <% menuArr[1].forEach(function(item){%>
                    <dd><a href="<%=item.url %>" target="<%=item.target %>"><%=item.name %></a></dd>
                    <% }) %>
                </dl>
            </li>
            <li class="layui-nav-item">
                <a href="javascript:;">模块扩展管理</a>
                <dl class="layui-nav-child">
                    <% menuArr[2].forEach(function(item){%>
                    <dd><a href="<%=item.url %>" target="<%=item.target %>"><%=item.name %></a></dd>
                    <% }) %>
                </dl>
            </li>
        </ul>
    </div>
</div>
