<%- include('compoment/adminHeader', {type: 'admin.listManage.edit'}) %>

<body style="padding: 20px">
<form class="layui-form singleEditForm" id="singleEditForm">
    <div class="layui-form-item">
        <label class="layui-form-label">栏目名称</label>
        <div class="layui-input-inline">
            <select name="columnName">
                <option value="">请选择栏目</option>
                <% columnList.forEach(item => { %>
                <optgroup label="<%= item.className %>">
                    <% if (item.hasOwnProperty('children')) {
                    item.children.forEach(list => {
                    if (list.infoType === 1) {
                    %>
                    <option value="<%= `${list.parentId}-${list.id}-${list.className}` %>" <%= editInfo.classid === list.id ? 'selected' : '' %>>
                        <%= list.className %>
                    </option>
                    <% }})} %>
                </optgroup>
                <% })%>
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">文章标题</label>
        <div class="layui-input-block managerForm-input">
            <input type="text" name="title" placeholder="请输入文章标题" autocomplete="off" class="layui-input" disabled data-id="<%= editInfo.id %>" value="<%= editInfo.title %>">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">文章来源</label>
        <div class="layui-input-block managerForm-input">
            <input type="text" name="source" placeholder="请输入文章来源" autocomplete="off" class="layui-input" value="<%= editInfo.source %>">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">作者编辑</label>
        <div class="layui-input-block managerForm-input">
            <input type="text" name="author" placeholder="请输入作者编辑" autocomplete="off" class="layui-input" value="<%= editInfo.author %>">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">缩略图片</label>
        <div class="layui-input-block managerForm-input">
            <div class="layui-input-inline">
                <input type="text" name="picUrl" id="picUrl" autocomplete="off" class="layui-input" value="<%= editInfo.picurl %>">
            </div>
            <button type="button" class="layui-btn layui-btn-danger" id="uploadBtn"><i class="layui-icon"></i>上传图片</button>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">跳转链接</label>
        <div class="layui-input-block managerForm-input">
            <input type="text" name="linkUrl" placeholder="请输入跳转链接" autocomplete="off" class="layui-input" value="<%= editInfo.linkurl %>">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">关键词</label>
        <div class="layui-input-block managerForm-input">
            <input type="text" name="keywords" placeholder="请输入关键词，多个关键词用','分隔" autocomplete="off" class="layui-input" value="<%= editInfo.keywords %>">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">摘　要</label>
        <div class="layui-input-block managerForm-input">
            <input type="text" name="description" placeholder="请输入关键词" autocomplete="off" class="layui-input" value="<%= editInfo.description %>">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">内　　容</label>
        <div class="layui-input-block managerForm-input">
            <textarea id="singleEdit" style="display: none;"><%= editInfo.content %></textarea>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">点击次数</label>
        <div class="layui-input-inline">
            <input type="number" name="hits" placeholder="请输入点击次数" autocomplete="off" class="layui-input" value="<%= editInfo.hits %>">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">排列排序</label>
        <div class="layui-input-inline">
            <input type="number" name="orderId" placeholder="请输入排列排序" autocomplete="off" class="layui-input" value="<%= editInfo.orderid %>">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">更新时间</label>
        <div class="layui-input-inline">
            <input type="text" name="postTime" class="layui-input" id="updateTime" placeholder="yyyy-MM-dd" value="<%= editInfo.posttime %>">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">审　核</label>
        <div class="layui-input-inline">
            <input type="radio" name="checkInfo" value="1" title="显示" <%= Number(editInfo.checkinfo) === 1 ? 'checked' : ''%>>
            <input type="radio" name="checkInfo" value="0" title="隐藏" <%= Number(editInfo.checkinfo) === 0 ? 'checked' : ''%>>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block managerForm-input">
            <button type="button" class="layui-btn layui-btn-updateSingle" lay-submit lay-filter="infoSubmit">提交</button>
            <button type="reset" class="layui-btn layui-btn-primary layui-btn-updateSingle">返回</button>
        </div>
    </div>
</form>

<script>
    //Demo
    layui.use(['jquery', 'form', 'layedit', 'upload', 'laydate'], function () {
        var form = layui.form
        var $ = layui.jquery
        var upload = layui.upload
        var laydate = layui.laydate

        var layEdit = layui.layedit;
        layEdit.set({
            uploadImage: {
                url: '/upload/uploadFile',
                type: 'post'
            }
        })
        var editIndex = layEdit.build('singleEdit', {
            height: 180,
            tool: ['strong','italic','underline','del','|','left','center','right','link','unlink','face','image' ,'help']
        });

        upload.render({
            elem: '#uploadBtn',
            url: '/upload/uploadFile',
            size: 1024,
            done: function(res){
                if (res.code === 0) {
                    $("input[name='picUrl']").attr("value", res.data.src)
                    layer.msg(res.msg)
                }
            }
        })

        laydate.render({
            elem: '#updateTime'
        })

        var index = parent.layer.getFrameIndex(window.name);
        //监听提交
        form.on('submit(infoSubmit)', function (data) {
            try {
                let obj = {}
                obj.content = layEdit.getContent(editIndex)
                obj.id = $("input[name='title']").data('id')
                let params = $('#singleEditForm').serialize()
                params = decodeURIComponent(params)
                let paramsArr = params.split('&')
                paramsArr.forEach(item => {
                    let arr = item.split('=')
                    obj[arr[0]] = arr[1]
                })
                if (obj.hasOwnProperty('columnName')) {
                    let columnArr = obj.columnName.split('-')
                    obj.parentId = columnArr[0]
                    obj.classId = columnArr[1]
                    obj.className = columnArr[2]
                    delete obj.columnName
                }
                if (!obj.hasOwnProperty('title')) {
                    obj.title = $("input[name='title']")[0].value
                }
                let url = `/data/listInfo/add`
                $.post(url, obj, function (res) {
                    if (res.code === 200) {
                        parent.layer.close(index)
                        parent.location.reload()
                    } else {
                        layer.msg(res.message)
                    }
                }, 'json')
            } catch (e) {
                layer.msg(e)
            }
        });
    });
</script>
<% include compoment/adminFooter %>

